body{
    background-color:  rgb(255, 255, 255);
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(3, 86, 87, 0.88);
}

p{
    text-align: justify;
}

h1{
    font-size: 20px;
    
}

.link{
    text-decoration: underline;
    font-size: 13px;
    color: rgba(5, 32, 65, 0.88);
    font-weight: bold;
    
}

.link:hover{
    color: rgb(43, 43, 195);
}

.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
}
.cont1{
    background-color:rgb(216, 235, 234);
}

.cont2{
    background-color: rgb(86, 173, 167);
}

.cont3{
    background-color: rgb(141, 191, 189);
}

.margin{
    margin-top: 10px;
}

.item-flex{
    width: 20%;
    flex-grow: 1;
    position: relative;
}
.item-flex:nth-child(1){
    flex-grow: 3;
}
.item-flex-body{
    width: 50%;
}

.contenidoleftheader{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.nameheader{
    left: 25%;
    position: absolute;
    top: 25%;
}
.navbar{
    display: flex;
    margin-top: 10%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px;
    
}

.email{
    font-size: 17px;
    color: rgb(3, 94, 127);
}

.number{
    font-size: 40px;
    color: rgb(7, 64, 31);
    font-weight: bold;
    margin: 0;
    padding: 0;
}



.expe{
    font-size: 10px;
    color: rgb(3, 94, 127);

}

.expepro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    color: rgba(132, 201, 202, 0.88);
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.caja{
    width: 20%;
    height: 85px;
    background-color:  rgb(144, 204, 200);
    margin-left: 10px;
}

.btn:hover{
    color: rgba(16, 162, 165, 0.88);   
}

.profilephoto{
    width: 40%;
}

.info{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  
}

.info2{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.halfbox{
    display: flex;
    flex-direction: column;
    
   
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
   
    
}

.imgsize{
    width: 145%;

}

.column-content{
    width: 50%;
}

.color{
    background-color: rgb(30, 4, 89);
}

input[type=text]{
    width: 100%;
    border: none;
    background-color: rgb(86, 173, 167);
    border-bottom: 2px solid rgb(3, 94, 127);
   
}

.icon{
    display: block;
}
@media only screen and (min-width:300px) and (max-width:840px){
    h1{
        font-size: 7px;
    }
    a{
        font-size: 9px;
    }

    h2{
        font-size: 8px;
    }

    h5{
        font-size: 5px;
    }

    p{
        font-size: 7px;
    }

    .mystory{
        font-size: 8px;
    }
}

